
on:
  push:
    branches:
      - dev
  pull_request:

name: Continuous Integration

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: '12'

      - run: npm install

      - run: npm run build

      - run: npm run lint

      - run: npm run test

      - name: Upload build artifacts to artifact store
        uses: actions/upload-artifact@v3
        with:
          name: build-artifacts
          path: dist

  Deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Download build artifacts from artifact store
        uses: actions/download-artifact@v3
        with:
          name: build-artifacts
          path: dist

      - name: Upload to blob storage
        uses: Azure/cli@1.0.4
        with:
          inlineScript: |
             az storage blob upload-batch --account-name statichostingwebs --account-key ${{ secrets.AZURE_STORAGE_KEY }} --auth-mode key --overwrite -d '$web' -s dist/
      - name: logout
        run: |
          az logout
        if: always()
